// Colors
$color-brand-primary: #212121;
$color-brand-secondary: #454545;
$color-brand-tertiary: #A8A8A8;

$color-ui-accent: #212121;
$color-ui-info: #0084F4;
$color-ui-danger: #FF647C;
$color-ui-warning: #FFCF5C;
$color-ui-success: #00C48C;
$color-ui-other: #FFA26B;

$color-ui-white: #FFFFFF;
$color-ui-black: #1A051D;
$color-ui-gray: #C6CACC;

$color-ui-gradient-gray: #3E4345;
$color-ui-gradient-secondary: #919699;
$color-ui-gradient-blue: #131313;
// UI COLORS
$color-ui-transparent: transparent;
$color-ui-ciclic: #1DDDC2;

:export {
  colorBrandPrimary: $color-brand-primary;
  colorBrandSecondary: $color-brand-secondary;
  colorBrandTertiary: $color-brand-tertiary;
  colorUIAccent: $color-ui-accent;
  colorUIDanger: $color-ui-danger;
  colorUIWarning:$color-ui-warning;
  colorUISuccess: $color-ui-success;
  colorUIWhite: $color-ui-white;
  colorUIBlack: $color-ui-black;
  colorUIGray: $color-ui-gray;
  colorUIGradientGray: $color-ui-gradient-gray;
  colorUIGradientSecondary: $color-ui-gradient-secondary;
  colorUIGradientBlue: $color-ui-gradient-blue;
}