$font-family-01: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-02: 'Indie Flower', cursive, Helvetica, Arial, sans-serif;

// SIZE
$font-size-display-hg: 52px;
$font-size-display-md: 48px;

$font-size-h1: 38px;
$font-size-h2: 24px;
$font-size-default: 16px;
$font-size-paragraph: 14px;
$font-size-pre: 10px;
$font-size-mb-default: 13px;

// WEIGHT
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// OPACITY
$font-opacity-hg: .87;
$font-opacity-md: .54;
$font-opacity-sm: .38;

// LINE HEIGHT
$line-height-paragraph: 1.4;
$line-height-title: 1;